html, body {
  background-color: #000000;
}

::-webkit-scrollbar {
  width: 0px;
}

h1.title {
  text-align: center;
  font-size: 24px;
  margin-top: 16px;
}
p.subtitle {
  display: none;
}
.section {
  padding: 0;
}

#lights .huelight:first-of-type, #groups .huegroup:first-of-type {
  margin-top: 0;
}

#lights .huelight, #groups .huegroup {
  margin: 120px 0;
  height: 160px !important;
  text-align: center !important;
  padding: 0;
}
.hue-buttons {
  float: none !important;
  display: block !important;
  text-align: center;
  height: 80px !important;
}

.watch-only {
  display: block !important;
}
.hide-on-watch {
  display: none !important;
}
#lights .huelight .hue-button, #groups .huegroup .hue-button {
  display: inline-block !important;
  float:  none !important;
  text-align: center;
  background-radius: 10px !important;
}

.settings-button {
  display: block !important;
  position: relative !important;
  text-align: center !important;
}
.hue-name {
  display: block !important;
  text-align: center !important;
  padding-left: 0 !important;

}
.brightness-slider {
 
}
#color-picker, #kelvin-picker {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  margin: 0;
}

.IroWheel, .IroSlider {
  overflow: none !important;
}

#color-picker-modal .modal-card-body, #kelvin-picker-modal .modal-card-body {
  height: 100%;
  width: 100%;
  position: absolute;
}

#color-picker-modal .modal-card-foot, #kelvin-picker-modal .modal-card-foot {
  display: none;
}

#hue #groups, #hue #lights {
  padding: 0 40px;
}

.tabs.is-boxed li.is-active a {
  background-color: #000000 !important;
}

.hue-settings-header {
  text-align: center;
}
.hue-settings-header .back-button {
  position: fixed;
  top: 50%;
  left: 5px;
  padding-top: 50vh;
  transform: translateY(-50%);
  display: block;
  height: 100vh;
  z-index: 1000;
}
.hue-settings-header .back-button .icon {
  transform: translateY(-50%);
}
.hue-settings-body {
  text-align: center;
  margin-top: 30px;
}
.hue-settings-footer {
  background-color: black;
  padding: 36px 24px;
}
.hue-setup-body #main {
  font-size: 16px !important;
}
