html, body {
  background-color: #000000;
  overflow-y: hidden !important;
}

::-webkit-scrollbar {
  width: 0px;
}

h1.title {
  text-align: center;
  font-size: 24px;
  margin-top: 16px;
}
p.subtitle {
  display: none;
}
.section {
  padding: 0;
}

#lights .huelight:first-of-type, #groups .huegroup:first-of-type {
  margin-top: 0;
}

#lights .huelight, #groups .huegroup {
  margin: 100px 0;
  height: 210px !important;
  height: 100vh !important;
  width: 100%;
  text-align: center !important;
  padding: 10vh 0;
  border-radius: 200px;
}
.hue-name {
  line-height: 40px !important;
  font-size: 30px;
}
.hue-buttons {
  float: none !important;
  display: block !important;
  text-align: center;
  margin-top: 20px;
}

.watch-only {
  display: block !important;
}
.hide-on-watch {
  display: none !important;
}
#lights .huelight .hue-button, #groups .huegroup .hue-button {
  display: inline-block !important;
  float:  none !important;
  text-align: center;
  background-radius: 10px !important;
  position: relative;
  font-size: 30px;
  padding: 20px;
  margin: 10px;
  height: 90px;
  width: 90px;
}

.settings-button {
  display: block !important;
  position: relative !important;
  text-align: center !important;
}
.hue-name {
  display: block !important;
  text-align: center !important;
  padding-left: 0 !important;

}
.brightness-slider {
 
}
#color-picker, #kelvin-picker, #brightness-picker {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  margin: 0;
}

.IroWheel, .IroSlider {
  overflow: none !important;
}

#color-picker-modal .modal-card-body, #kelvin-picker-modal .modal-card-body, #brightness-picker-modal .modal-card-body {
  height: 100%;
  width: 100%;
  position: fixed;
  left: 0;
  top: 0;
  background-color: #000000;
}

#color-picker-modal .modal-card-foot, #kelvin-picker-modal .modal-card-foot, #brightness-picker-modal .modal-card-foot {
  display: none;
}

#hue #groups, #hue #lights {
  padding: 0 0;
}

.tabs.is-boxed li.is-active a {
  background-color: #000000 !important;
}

.hue-settings-header {
  text-align: center;
}
.hue-settings-header .back-button {
  position: fixed;
  top: 50%;
  left: 5px;
  padding-top: 50vh;
  transform: translateY(-50%);
  display: block;
  height: 100vh;
  z-index: 1000;
}
.hue-settings-header .back-button .icon {
  transform: translateY(-50%);
}
.hue-settings-body {
  text-align: center;
  margin-top: 30px;
}
.hue-settings-footer {
  background-color: black;
  padding: 36px 24px;
}
.hue-setup-body #main {
  font-size: 16px !important;
}
.brightness-slider, .brightness-slider-off {
  display: none;
}

#brightness-picker .ldBar {
  height: 116% !important;
  width: 116% !important;
  left: -8%;
  top: -8%;
}

#brightness-picker .ldBar-label {
  font-size: 60px;
}

.hue-tabs {
  top: 0;
  margin-top: 0;
  left: 0;
  height: 100vh;
  display: block;
  background-color: black;
  position: fixed;
  width: 100%;
  z-index: 5;
}
.hue-tabs a {
  border-radius: 0px !important;
  border-top: 1px solid #3d3d67 !important;
  border-bottom: 1px solid #3d3d67 !important;
  height: 90px !important;
  padding: 10px 0px !important;
  color: #ddd !important;
  font-size: 40px;
}

.watch-bri-text {
  position: absolute;
  width: 100%;
  display: block;
  left: 0;
  text-align: center;
  margin-top: -30px;
  line-height: 24px;
  font-size: 24px;
}

#brightness-picker .item-name {
  font-size: 30px;
  position: absolute;
  text-align: center;
  width: 100%;
  top: 45px;
}
